body{
  background-image: linear-gradient(to bottom, #052c66, #005590, #007b8c, #009b5d, #7cb204);
  }
  .container{
    max-width: 450px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 6px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: white;
    max-width: 400px;
  }
  .todos li{
    background: darkslategrey;
    margin: 3px;
  }
  .delete{
    cursor: pointer;
  }
  .filtered {
    display: none !important;
  }
  .important {
    background-color: red;
  }
  .checkedout {
    text-decoration: line-through;
  }
  .container {
    background-color: darkolivegreen;
  }
  .text-center {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
  }